.background {
	-fx-background-image: url("table.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 900 700;
	-fx-alignment: center center;
}

.button {
	-fx-background-color: rgb(233,185,110);
}