.card_row {
	-fx-background-color: gray;
	-fx-padding: 10px;
	-fx-spacing: 150px;
	-fx-alignment: center;
}

.card {
	-fx-background-color: red;
	-fx-alignment: center;
}

.choice {
	-fx-background-color: blue;
	-fx-hgap: 10px;
}