.background {
	-fx-background-image: url("table.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 1010 700;
	-fx-alignment: center center;
}

.card_row {
	-fx-padding: 10px;
	-fx-spacing: 150px;
	-fx-alignment: center;
}

.card {
	-fx-alignment: center center;
}

.front {
	-fx-fill: white;
}

.choice {
}

.badInput{
	-fx-text-fill: red;
}

.label {
	-fx-text-fill: white;
	-fx-font-size: 18px;
}

.title {
	-fx-font-family: Arial Black, Arial Bold, Gadget, sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 35px;
	-fx-text-fill: white;
}

.display_info {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-family: Tacoma;
	-fx-font-weight: bold;
	-fx-font-size:14px;
}

.black_button {
	-fx-background-color: #090a0c, 
		linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%), 
		linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
	-fx-background-insets: 0,1,2,0;
	-fx-text-fill: white;
	-fx-font-family: Tacoma;
	-fx-font-weight: bold;
	-fx-font-size:14px;
}