.background {
	-fx-background-image: url("table.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 900 700;
	-fx-alignment: center center;
}

.button {
	-fx-background-color: rgb(233,185,110);
}

.listViewsHBox {
	-fx-padding: 50;
	-fx-spacing: 100;
	-fx-alignment: center center;
}

.label {
	-fx-text-fill: white;
	-fx-padding: 20;
}