.background {
	-fx-background-image: url("table.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 900 700;
	-fx-alignment: center center;
}

.card_row {
	-fx-padding: 10px;
	-fx-spacing: 150px;
	-fx-alignment: center;
}

.card {
	-fx-background-image: url("card_back.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 120px 160px;
	-fx-alignment: center center;
}

.choice {
}

.title {
	
}